.category-page-container {
  min-height: 90vh;
}

.category-banner-container {
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

input {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  font-size: larger;
}

#mic {
  transition: 1s ease-in-out;
}
